<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Microservices Ecommerce</title>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    </head>

    <body>
        <div class="container">
            <h1>Microservices Ecommerce</h1>
            Current time is <span th:text="${serverTime}" />
        </div>
        <script type="text/javascript" src="webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    </body>
</html>